.scene {
  width: calc(100% );
  height: 100%;
  display: grid;
  place-items: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-left: -100px;
}

.sceneScroll {
  overscroll-behavior: contain;
}

.rotatorBase {
  position: relative;
  width: clamp(280px 90vw, 980px);
  height: clamp(280px, 50vw, 560px);
  margin-top: -150px;
  transform-style: preserve-3d;
  transition: transform 0.25s ease-out;
}

.rotator {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}
