.card {
  background-color: #350c0e;
  margin: 20px;
  width: 200px;
  height: 300px;
  clip-path: path(
    'M 10 50 L 90 50 A 10 10 0 0 0 100 40 L 100 10 A 10 10 0 0 1 110 0 L 190 0 A 10 10 0 0 1 200 10 L 200 290 A 10 10 0 0 1 190 300 L 10 300 A 10 10 0 0 1 0 290 L 0 60 A 10 10 0 0 1 10 50 Z M 10 40 A 10 10 0 0 1 0 30 L 0 10 A 10 10 0 0 1 10 0 L 80 0 A 10 10 0 0 1 90 10 L 90 30 A 10 10 0 0 1 80 40 Z M 25 0   C 40 0 50,10 50 25  C 50 40 40 35 25 35     C 10 35 0 40 0 25 C 0 10 10 0 25 0 Z'
  );
}

.card__nav_link {
  color: #b8750a;
  margin-top: 50px;
}
