.banner {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin-top: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg {
  position: absolute;
  left: -100px;
  bottom: 0;
  width: 150%;
  height: 120%;
  margin-left: -20vw;
  margin-bottom: -60px;
  background-size: auto 100%;
  background-position: center bottom;
  transition: 0.1s;
  background-repeat: no-repeat;
}

.bg1 {
  background-image: url('/img/0.png');
}
.bg2 {
  background-image: url('/img/1.png');
}
.bg3 {
  background-image: url('/img/2.png');
}
.bg4 {
  background-image: url('/img/3.png');
}
.bg5 {
  background-image: url('/img/4.png');
}
.bg6 {
  background-image: url('/img/5.png');
}
.bg7 {
  background-image: url('/img/6.png');
}
.bg8 {
  background-image: url('/img/7.png');
}
.bg9 {
  background-image: url('/img/8.png');
}

.titleGroup {
  position: absolute;
  inset: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.titleGroup h1 {
  margin: 0;
  font-size: 11rem;
  color: transparent;
  background: radial-gradient(
    circle,
    #7a3a12 0%,
    #c66a24 55%,
    #ee9140 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.subtitle {
  margin: 8px 0 0;
  font-size: clamp(22px, 3vw, 36px);
  color: #df862e;
  opacity: 0.9;
}

.intro {
  min-height: 50vh;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.intro p {
  width: 700px;
  max-width: 100%;
  text-align: center;
}

.intro button {
  background-color: #fd0003;
  padding: 10px 50px;
  border: 1px solid #591f1d;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.animationShow {
  transform: translateY(50px);
  opacity: 0;
  transition: 0.7s;
}

.active .animationShow {
  transform: translateY(0);
  opacity: 1;
}

.animationShow:nth-child(2) {
  transition-delay: 0.3s;
}
.animationShow:nth-child(3) {
  transition-delay: 0.6s;
}
.animationShow:nth-child(4) {
  transition-delay: 0.9s;
}

.library {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: #fff;
}

.library img {
  width: 90%;
  height: 500px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .titleGroup h1 {
    font-size: 5rem;
  }
  .library {
    grid-template-columns: repeat(2, 1fr);
  }
  .library img {
    height: 300px;
  }
}
