/* Общие стили */
.header {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

/* Контейнер для бургера и меню */
.burgerMenu {
  display: flex;
  align-items: center;
  background-color: rgba(223, 135, 46, 0.561);
  border-radius: 25px;
  padding: 12px 8px;
  cursor: pointer;
  border: 1px solid rgb(106, 67, 27);
  height: 50px;
  width: 50px;
  overflow: hidden;
  transition: width 0.5s ease-in-out, background-color 0.3s ease;
}

/* Открытое состояние контейнера */
.burgerMenu.open {
  width: 500px; /* Задай нужную ширину для открытого состояния */
  background-color: rgba(223, 135, 46, 0.559);
}

/* Иконка бургера */
.burgerIcon {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.burgerIcon span {
  width: 30px;
  height: 2px;
  background-color: #6a431b;
  position: relative;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.burgerIcon span::before,
.burgerIcon span::after {
  content: '';
  width: 30px;
  height: 2px;
  background-color: #6a431b;
  position: absolute;
  left: 0;
  transition: transform 0.4s ease-in-out;
}

.burgerIcon span::before {
  transform: translateY(-8px);
}

.burgerIcon span::after {
  transform: translateY(8px);
}

/* Открытое состояние (Крестик) */
.burgerMenu.open .burgerIcon span {
  background-color: transparent;
}

.burgerMenu.open .burgerIcon span::before {
  transform: rotate(45deg);
}

.burgerMenu.open .burgerIcon span::after {
  transform: rotate(-45deg);
}

/* Навигационное меню */
.nav {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

.burgerMenu.open .nav {
  opacity: 1;
  transform: translateX(0);
}

/* Навигационный список */
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nav__item {
  margin: 0;
  font-family: 'Pacifico', cursive;
  color: #df862e;
}

.nav__link {
  color: #6a431b;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #b58759;
}
